---
import Container from "./Container.astro";
---

<Container>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
    <div class="text-white my-auto">
      <h2 class="text-[40px] md:text-[70px] font-black max-w-auto leading-[1]">
        Discover And Collect Rare NFTs
      </h2>
      <p class="max-w-[400px] mt-8">
        The most secure marketplace for buying and selling unique crypto assets.
      </p>
      <div class="mt-4 flex flex-col gap-x-6 gap-y-6 min-[825px]:flex-row">
        <a
          href="#"
          class="border-2 border-[#AAD9D9] py-4 px-12 uppercase rounded-full transition duration-700 hover:bg-[#8080D7] font-semibold max-w-[179px]"
        >
          Buy NFTs</a
        >
        <a
          href="#"
          class="border-2 border-[#AAD9D9] py-4 px-12 uppercase rounded-full transition duration-700 hover:bg-[#8080D7] font-semibold max-w-[179px]"
        >
          Sell NFTs</a
        >
      </div>
    </div>
    <div class="relative">
      <img src="./computer.webp" alt="" class="w-[400px] aspect-[265/268]" />
      <div
        class="absolute w-[300px] h-[300px] bg-[#AAD9D9] filter blur-[100px] rounded-full left-96 bottom-2"
      >
      </div>
    </div>
  </section>
</Container>
