---
import Container from "./Container.astro";
---

<Container>
  <section class="grid grid-cols-1 md:grid-cols-2">
    <div class="my-auto order-first md:order-last">
      <h3 class="text-[#AAD9D9] uppercase font-semibold mb-2">Analytics</h3>
      <h2
        class="text-white text-[40px] md:text-[60px] font-black leading-[1] max-w-[600px] mb-8"
      >
        Built-in Analytics To Track Your Nfts
      </h2>
      <p class="text-white mb-12 max-w-[400px]">
        Use our built-in analytics dashboard to pull valuable insights and
        monitor the value of your Krypto portfolio over time.
      </p>
      <a
        href="#"
        class="border-2 border-[#AAD9D9] py-4 px-12 uppercase rounded-full transition duration-700 hover:bg-[#8080D7] font-semibold max-w-[179px] text-white"
        >View our pricing</a
      >
    </div>
    <div>
      <img src="analytics.webp" alt="" class="w-[400px] aspect-[400/400]" />
    </div>
  </section>
</Container>
