---
import Container from "./Container.astro";
---

<Container>
  <section class="grid grid-cols-1 md:grid-cols-2">
    <div class="my-auto">
      <h3 class="text-[#AAD9D9] uppercase font-semibold mb-2">get our app</h3>
      <h2
        class="text-white text-[40px] md:text-[60px] font-black leading-[1] max-w-[750px] mb-8"
      >
        Browse Nfts From Your Smartphone
      </h2>
      <p class="text-white mb-12 max-w-[400px]">
        Our Krypto app is the easiest way to keep track of your assets when
        you're on the go.
      </p>
      <a
        href="#"
        class="border-2 border-[#AAD9D9] py-4 px-12 uppercase rounded-full transition duration-700 hover:bg-[#8080D7] font-semibold max-w-[179px] text-white"
        >Download on ios</a
      >
    </div>
    <div>
      <img src="cellphone.webp" alt="" class="w-[400px] aspect-[400/400]" />
    </div>
  </section>
</Container>
