---
import Container from "./Container.astro";
---

<Container>
  <section class="mb-4">
    <h2 class="text-white uppercase font-semibold">Featured On</h2>
    <img
      src="sponsors.svg"
      alt=""
      class="fill-transparent w-full mt-6 aspect-[1124/158]"
    />
  </section>
</Container>
