---
import About from "../components/About.astro";
import Analytics from "../components/Analytics.astro";
import Footer from "../components/Footer.astro";
import GetApp from "../components/GetApp.astro";
import GetStarted from "../components/GetStarted.astro";
import Header from "../components/Header.astro";
import Sponsor from "../components/Sponsor.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Krypto">
  <main class="mx-[15px] md:mx-[25px]">
    <Header />
    <About />
    <Sponsor />
    <Analytics />
    <GetApp />
    <Testimonials />
    <GetStarted />
    <Footer />
  </main>
</Layout>
